<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">


	<link href="{% static 'img/favicon.svg' %}" rel="icon">


	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
		  rel="stylesheet">


	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


	<link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
	<link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>
	<link href="{% static 'lib/twentytwenty/twentytwenty.css' %}" rel="stylesheet"/>


	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
{% include 'inc/_spinner.html' %}
{% include 'inc/_topbar.html' %}
{% include 'inc/_nav.html' %}

{% block content %}
{% endblock %}


<div class="container-fluid bg-dark position-relative pt-5 wow fadeInUp" data-wow-delay="0.1s"
	 style="z-index: 1;"></div>

<div class="container-fluid bg-dark text-light py-5 wow fadeInUp" data-wow-delay="0.3s" style="margin-top: -75px;">
	<div class="container pt-5 ">
		<div class="row g-5 pt-4">
			<div class="col-lg-6 col-md-6">
				<h3 class="text-white mb-4">Быстрые ссылки</h3>
				<div class="d-flex flex-column justify-content-start">
					<a class="text-light mb-2" href="{% url 'index' %}"><i
							class="bi bi-arrow-right text-primary me-2"></i>Главная</a>
					<a class="text-light mb-2" href="{% url 'about' %}"><i
							class="bi bi-arrow-right text-primary me-2"></i>О нас</a>
					<a class="text-light mb-2" href="{% url 'service' %}"><i
							class="bi bi-arrow-right text-primary me-2"></i>Наши
						услуги</a>
					<a class="text-light mb-2" href="{% url 'price' %}"><i
							class="bi bi-arrow-right text-primary me-2"></i>Price
						-лист</a>
					<a class="text-light" href="{% url 'contact' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Контакты</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3 class="text-white mb-4">Контакты для связи</h3>
				<p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>г. Королев, ул. Пионерская 15к2, ТЦ
					“СИТИ” 2 этаж, павильон “В21”</p>
				<p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+7 (991) 124-95-33</p>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3 class="text-white mb-4">Подпишись на нас</h3>
				<div class="d-flex">
					<a class="btn btn-lg btn-dark btn-lg-square rounded me-2" href="https://wa.me/79911249533"><img
							src="{% static 'img/whatsapp.svg' %}" alt=""></a>
					<a class="btn btn-lg btn-dark btn-lg-square rounded me-2" href="https://t.me/lpgkorolev"><img
							src="{% static 'img/telegram.svg' %}" alt=""></a>
					<a class="btn btn-lg btn-dark btn-lg-square rounded me-2" href="https://vk.com/korolevlpg"><img
							src="{% static 'img/vk.svg' %}" alt=""></a>
					<a class="btn btn-lg btn-dark btn-lg-square rounded" href="https://ok.ru/profile/582721121107"><img
							src="{% static 'img/ok.svg' %}" alt=""></a>
					<a class="btn btn-lg btn-dark btn-lg-square rounded"
					   href="https://www.instagram.com/lpgmassage.official/"><img
							src="{% static 'img/instagram.svg' %}" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid text-light py-4 bg-dark">
	<div class="container">
		<div class="row g-0">
			<div class="col-md-6 text-center text-md-start">
				<p class="mb-md-0">&copy; <a class="text-white border-bottom" href="#">LPG Massage</a>. Все права
					защищены.</p>
			</div>
			<div class="col-md-6 text-center text-md-end">
				<p class="mb-0">Designed by
					<a class="text-white border-bottom" href="">Liroyz Production</a></p>
			</div>
		</div>
	</div>
</div>



<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://dikidi.net/assets/js/widget_record/widget2.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'lib/twentytwenty/jquery.event.move.js' %}"></script>
<script src="{% static 'lib/twentytwenty/jquery.twentytwenty.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>