{% load static %}
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-7">
				<div class="section-title mb-4">
					<h5 class="position-relative d-inline-block text-primary text-uppercase">Что такое LPG-массаж</h5>
				</div>
				<p class="mb-4">LPG - это аппаратная методика проведения массажа тела, сочетающая
					механическое и вакуумное воздействие. Ее можно назвать классикой аппаратного массажа, поскольку она
					известна более 50 лет. В современных аппаратах используются различные манипулы, обеспечивающие
					высокую эффективность процедуры на всех наиболее проблемных участках тела.</p>
				<p class="mb-4">LPG массаж предусматривает вакуумный захват кожи манипулой с целью усиления
					кровообращения, активации обменных процессов, расщепления подкожного жира, ускорения оттока лимфы.
					Выполнение процедуры способствует устранению многих эстетических недостатков кожи лица и тела,
					помогает успешно корректировать и моделировать фигуру.</p>
				<div class="section-title mb-4">
					<h5 class="position-relative d-inline-block text-primary text-uppercase">Преимущества
						LPG-массажа:</h5>
				</div>
				<div class="row g-3">
					<div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Высокая эффективность</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Безопасность и
							отсутствие риска развития побочных эффектов </p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Отличная сочетаемость
							с другими бьюти-процедурами</p>
					</div>
					<div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Минимальное время,
							необходимое для восстановления после сеанса </p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Универсальность</p>
					</div>
				</div>
				<p class="mb-4">Выполнение массажа при помощи LPG аппарата будет еще эффективнее при его сочетании с
					такими моделирующими процедурами как УЗ кавитация лимфодренаж, прессотерапия, лифтинг. Комплексный
					подход к применению корректирующих процедур усиливает эффективность результата и сокращает сроки
					моделирования фигуры.</p>

				<div class="section-title mb-4">
					<h5 class="position-relative d-inline-block text-primary text-uppercase">Показания к проведению
						процедуры</h5>
				</div>
				<p class="mb-4"> LPG массаж выполняют для решения косметических и эстетических проблем. Он
					рекомендован при:</p>
				<div class="row g-3">
					<div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Целлюлите</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> При наличии жировых
							накоплений в проблемных местах (ягодицы, бедра, поясница, живот) </p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Лишнем весе</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Потере кожей
							эластичности и упругости.</p>
					</div>
					<div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Отечности, возникающей
							вследствие нарушения обменных процессов</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Провисании кожи в зоне
							подбородка, век, опущении овала лица</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Дряблости и вялости кожных
							покровов</p>
					</div>
				</div>
				<p>Процедура стимулирует деятельность лимфатической системы, предотвращает появление отеков и варикоза,
					служит профилактикой раннего старения и увядания кожных покровов.</p>

				<div class="section-title mb-4">
					<h5 class="position-relative d-inline-block text-primary text-uppercase">Как проводится
						LPG-массаж</h5>
				</div>
				<p class="mb-4">Для выполнения процедуры используется современная аппаратура с тремя видами манипул. Они
					предназначены для коррекции кожи лица и проблемных участков тела. Массаж выполняется без
					обезболивания и доставляет минимум беспокойства пациенту.</p>
				<p class="mb-4">Длительная подготовка к проведению процедуры не требуется, следует выпить 2-3 стакана
					воды. Во время сеанса нужно находиться в специальном костюме. Это улучшает скольжение манипулы.
					Глубокая проработка проблемных зон достигается за счет комбинации вакуума и роликов.</p>
				<p class="mb-4">Для повышения эффективности аппаратного массажа рекомендуется пройти комплекс из 10-12
					сеансов. Их точное количество определяет косметолог в зависимости от индивидуальных показателей.
				</p>
				<div class="section-title mb-4">
					<h5 class="position-relative d-inline-block text-primary text-uppercase">Результат LPG массажа</h5>
				</div>
				<div class="row g-3">
					<div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Разглаживание
							поверхности кожи</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Снижение тяжести
							признаков целлюлита</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Восстановление упругости
							и эластичности</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i> Потере кожей
							эластичности и упругости.</p>
					</div>
					<div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Устранение отечности и
							дряблости</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Расщепление локальных
							жировых накоплений и уменьшение объема тела</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Восстановление системы
							микроциркуляции в кожных покровах</p>
						<p class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Моделирование и улучшение
							контуров тела</p>
					</div>
				</div>
				<p class="mb-4">Выведение лишней жидкости из организма способствует снижению веса.
					В нашей студии коррекции фигуры мы обеспечиваем комплексный подход к устранению наиболее
					распространенных эстетических недостатков. Мы делаем LPG массаж в Королеве на современной аппаратуре
					без боли, дискомфорта и риска побочных эффектов. Вы избавитесь от признаков целлюлита и беспокоящих
					вас жировых валиков в проблемных местах.</p>
				<a href="https://dikidi.net/#widget=111836" class="btn btn-dark py-3 px-5 mt-4 wow zoomIn"
				   data-wow-delay="0.6s">Записаться</a>
			</div>
			<!--			<div class="col-lg-5" style="min-height: 500px;">-->
			<!--								<div class="position-relative h-100">-->
			<!--									<img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"-->
			<!--										 src="{% static 'img/about.png' %}" style="object-fit: cover;">-->
			<!--								</div>-->
			<!--			</div>-->
		</div>
	</div>
</div>