{% load static %}
<div class="container-fluid bg-primary bg-testimonial py-5 my-5 wow fadeInUp" data-wow-delay="0.1s" style="padding:60px">
	<div class="container py-5">
		<div class="row justify-content-center">
			<div style="width:760px;height:800px;overflow:hidden;position:relative;">
				<iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box"
						src="https://yandex.ru/maps-reviews-widget/146317881480?comments">
				</iframe>
				<a href="https://yandex.ru/maps/org/lpg_massage/146317881480/" target="_blank"
				   style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">
					LPG Massage на карте Королёва — Яндекс Карты</a>
			</div>
		</div>
	</div>
</div>