{% load static %}
<div class="container-fluid py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
				<div class="section-title bg-light rounded h-100 p-5">
					<h5 class="position-relative d-inline-block text-primary text-uppercase">Наши специалисты</h5>
					<h1 class="display-6 mb-4">Познакомьтесь с нашими опытными специалистами</h1>
					<a href="https://dikidi.net/#widget=111836" class="btn btn-dark py-3 px-5">Записаться</a>
				</div>
			</div>
			<div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
				<div class="team-item">
					<div class="position-relative rounded-top" style="z-index: 1;">
						<img class="img-fluid rounded-top w-100" src="{% static 'img/our-team-1.png' %}" alt="">
					</div>
					<div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
						<h4 class="mb-2">Юлия</h4>
						<p class="text-body mb-0">Массажист</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
				<div class="team-item">
					<div class="position-relative rounded-top" style="z-index: 1;">
						<img class="img-fluid rounded-top w-100" src="{% static 'img/our-team-1.png' %}" alt="">
					</div>
					<div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
						<h4 class="mb-2">Дина</h4>
						<p class="text-body mb-0">Массажист</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>