<!-- Topbar Start -->
<div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
	<div class="row gx-0">
		<div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
			<div class="d-inline-flex align-items-center">
				<small class="py-2"><i class="far fa-clock text-primary me-2"></i>Часы работы: Mon - Tues : 6.00 am -
					10.00 pm, Sunday Closed </small>
			</div>
		</div>
		<div class="col-md-6 text-center text-lg-end">
			<div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
				<div class="me-3 pe-3 border-end py-2">
					<p class="m-0"><i class="fa fa-envelope-open me-2"></i>info@example.com</p>
				</div>
				<div class="py-2">
					<p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Topbar End -->