<div class="container-fluid bg-white ps-5 pe-0 d-none d-lg-block">
	<div class="row gx-0">
		<div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
			<div class="d-inline-flex align-items-center">
				<small class="py-2"><i class="far fa-clock text-dark me-2"></i>Часы работы: Пн - Пт : 11:00 -
					22:00, Сб - Вс : 12:00 - 21:00</small>
			</div>
		</div>
		<div class="col-md-6 text-center text-lg-end">
			<div class="position-relative d-inline-flex align-items-center bg-dark text-white top-shape px-5">
				<div class="me-3 pe-3 border-end py-2">
					<p class="m-0"><i class="fa fa-phone-alt me-2"></i>Связаться с нами</p>
				</div>
				<div class="py-2">
					<p class="m-0"><i class=""></i>+7 (991) 124-95-33</p>
				</div>
			</div>
		</div>
	</div>
</div>