{% extends 'base.html' %}
{% block title %} Контакты {% endblock %}
{% block content %}
<div class="container-fluid py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
				<div class="bg-light rounded h-100 p-5">
					<div class="section-title">
						<h5 class="position-relative d-inline-block text-primary text-uppercase">Связаться с нами</h5>
						<h1 class="display-6 mb-4">Не стесняйтесь связаться с нами</h1>
					</div>
					<div class="d-flex align-items-center mb-2">
						<i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
						<div class="text-start">
							<h5 class="mb-0">Наш адрес</h5>
							<span>г. Королев, ул. Пионерская 15к2, ТЦ “СИТИ” 2 этаж, павильон “В21”</span>
						</div>
					</div>
					<div class="d-flex align-items-center mb-2">
						<i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
						<div class="text-start">
							<h5 class="mb-0">Звоните нам</h5>
							<span>+7 (991) 124-95-33</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
				<iframe class="position-relative rounded w-100 h-100"
						src="https://yandex.ru/maps/-/CCUOzMdVlC"
						frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"
						tabindex="0"></iframe>
			</div>
		</div>
	</div>
</div>
{% endblock %}