{% extends 'base.html' %}
{% load static %}
{% block title %} Главная {% endblock %}
{% block content %}

<div class="container-fluid p-0">
	<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img width="1920" height="1080" style="padding:60px" class="w-100"
					 src="{% static 'img/car-1.svg' %}" alt="Image">
				<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
					<div class="p-3" style="max-width: 900px;">
						<h5 class="text-white text-uppercase mb-3 animated slideInDown">Создай красивое и стройное
							тело</h5>
						<h1 class="display-1 text-white mb-md-4 animated zoomIn">По самым доступным ценам!</h1>
						<a href="https://dikidi.net/#widget=111836"
						   class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Записаться</a>
						<a href="{% url 'contact' %}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Связаться с нами</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'inc/_about.html' %}

{% include 'inc/_service.html' %}



{% include 'inc/_price.html' %}

<!--<div class="container-fluid bg-offer my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">-->
<!--	<div class="container py-5">-->
<!--		<div class="row justify-content-center">-->
<!--			<div class="col-lg-7 wow zoomIn" data-wow-delay="0.6s">-->
<!--				<div class="offer-text text-center rounded p-5">-->
<!--					<h1 class="display-5 text-white">Save 30% On Your First Dental Checkup</h1>-->
<!--					<p class="text-white mb-4">Eirmod sed tempor lorem ut dolores sit kasd ipsum. Dolor ea et dolore et-->
<!--						at sea ea at dolor justo ipsum duo rebum sea. Eos vero eos vero ea et dolore eirmod diam duo-->
<!--						lorem magna sit dolore sed et.</p>-->
<!--					<a href="" class="btn btn-dark py-3 px-5 me-3">Записаться</a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

{% include 'inc/_reviews.html' %}

{% endblock %}